.custom-button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
  }

.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color: #000;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .form-registro{
    color: rgb(220, 220, 220);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-decoration: underline
    
  }

  @media screen and (max-width: 600px) {
    /* Define los estilos para pantallas con un ancho máximo de 600px (ajusta este valor según sea necesario) */
    .form-container {
      max-width: 80%; /* Cambia el ancho máximo según tus necesidades */
      margin: 20px auto; /* Cambia el margen según tus necesidades */
      display: flex;
      flex-direction: column; /* Alinea los elementos en columna */
      align-items: center; /* Centra horizontalmente los elementos */
    }
  
    .form-container h2 {
      font-size: 24px; /* Ajusta el tamaño de fuente del título según tus necesidades */
    }
  
    .bn5 {
      font-size: 13px; /* Ajusta el tamaño de fuente del botón según tus necesidades */
      letter-spacing: 1px; /* Ajusta el espaciado entre letras según tus necesidades */
    }
  
    .custom-button {
      font-size: 13px;
      margin-top: 20.5px; /* Espaciado entre el botón y los inputs */
      width: 120px; /* Asegura que el botón ocupe todo el ancho disponible */
      margin-left: 10px;
    }
  
    /* Ajusta los estilos de los inputs para que queden uno debajo del otro */
    .form-container input[type="email"],
    .form-container input[type="password"] {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px; /* Espaciado entre los inputs */
      border: 1px solid #ccc;
      border-radius: 6px;
    }
  }